.library_information {
  width: 100%;
  margin: 2rem auto;
  .closed-heading {
    border-bottom: 1px solid #1ED760;
    background-color: transparent;
  }
  .library-info-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    margin: .5rem 0;
    h1 {
      color: white;
      font-weight: 300;
      font-size: 125%;
      text-align: left;
      margin: 1rem 0;
      transition: .3s;
    }
    i {
      color: white;
      vertical-align: middle;
      transition: .3s;
    }
    &:hover {
      cursor: pointer;
      background-color: #2D2D2D;
      padding: 0 1rem;
    }
  }
  .open-heading {
    background-color: #2D2D2D;
    padding: 0 1rem;
    &:hover {
      h1, i {
        color: #1ED760;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra large devices (large desktops, up to 1200px)
@media (max-width: 1200px) { }

// Large devices (desktops, up to 992px)
@media (max-width: 992px) {
  .library_information {
    margin: .5rem auto;
    .library-info-heading {
      h1 {
        font-size: .75rem;
      }
    }
  }
}

// Medium devices (tablets, up to 768px)
@media (max-width: 768px) {}

// Small devices (landscape phones, up to 576px)
@media (max-width: 576px) {}