.card {
  margin: 0 2rem;
  height: 15rem;
  width: 15rem;
  background-color: white;
  border: 1px solid #42b983;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  font-style: italic;
  border-radius: .25rem;
  &:hover {
    
  }
  button {
    border: none;
    outline: none;
    background-color: #42b983;
    color: white;
    padding: .5rem 2rem;
    border-radius: 50rem;
    transition: .3s;
    &:hover {
      cursor: pointer;
      padding: 0.5rem 2.25rem;
    }
  }
}